.venv/
.idea/

data/
src/detection/outputs

checkpoints/
wandb/
lightning_logs/

__pycache__/
*.py[cod]

.ipynb_checkpoints/

logs/
runs/
results/*
!results/COMPARISON.md

scripts/night.py
scripts/visualize_baseline_pred.py
scripts/visualize_yolo.py
yolov8n.pt